# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\college-programming-practice\力扣牛客刷题测试代码\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
